.myBtn {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: .7em 1.5em;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
    padding: 7px 50px;
    height: 50px;
    width: 150px;
    border: 1px white solid;
}

.myBtn:hover {
    background: rgb(232,95,76);
}
.myBtn:active {
    background: rgb(152,15,0);
}